.vxe-table-x-renderer {
  .x-textarea--resize {
    position: absolute;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-all;
    padding: 0 10px;
    z-index: -1;
    visibility: hidden;
  }
  .vxe-body--column {
    &.col--actived {
      & > .vxe-cell {
        padding: 0;
      }
    }
    & > .vxe-cell {
      .vxe-input--wrapper {
        &.x-textarea {
          width: 100%;
          display: block;
          position: relative;
          white-space: pre-wrap;
          word-break: break-all;
          & > .vxe-textarea {
            position: absolute;
            top: -1px;
            left: -1px;
            padding: 0 10px;
            overflow: hidden;
          }
        }
      }
    }
  }
}