$vxe-table-row-height-default: 48px;
$vxe-table-row-height-medium: 44px;
$vxe-table-row-height-small: 40px;
$vxe-table-row-height-mini: 36px;

.vxe-renderer--progress-ring-piece-prev,
.vxe-renderer--progress-ring-piece-naxt,
.vxe-renderer--progress-ring-mask,
.vxe-renderer--progress-ring-hollow,
.vxe-renderer--progress-ring-label {
  position: absolute;
}

.vxe-renderer--progress-ring {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  width: $vxe-table-row-height-default - 2;
  height: $vxe-table-row-height-default - 2;
  border-radius: 50%;
  margin: 0 1px;
  background-color: #f0f0f0;
  .vxe-renderer--progress-ring-piece-prev,
  .vxe-renderer--progress-ring-piece-naxt,
  .vxe-renderer--progress-ring-mask {
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    transform: rotate(0deg);
    transform-origin: center left;
  }
  .vxe-renderer--progress-ring-piece-prev {
    background-color: #409eff;
    z-index: 1;
  }
  .vxe-renderer--progress-ring-piece-naxt {
    display: none;
    background-color: #409eff;
    z-index: 3;
    &.is--half {
      display: block;
    }
  }
  .vxe-renderer--progress-ring-mask {
    background-color: #f0f0f0;
    z-index: 1;
  }
  .vxe-renderer--progress-ring-hollow {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #fff;
    z-index: 5;
  }
  .vxe-renderer--progress-ring-label {
    top: 50%;
    left: 50%;
    max-width: 2.8em;
    transform: translate(-50%,-50%) scale(0.8);
    z-index: 7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.vxe-renderer--progress-bar {
  position: relative;
  display: block;
  width: 100%;
  height: 1em;
  line-height: 1em;
  text-align: left;
  margin: 1px 0;
  &.label--inner {
    .vxe-renderer--progress-bar-label {
      color: #fff;
      transform: translateX(-100%) scale(0.8);
    }
  }
  .vxe-renderer--progress-bar-chart,
  .vxe-renderer--progress-bar-label {
    float: left;
    height: 100%;
  }
  .vxe-renderer--progress-bar-chart {
    background-color: #409eff;
  }
  .vxe-renderer--progress-bar-label {
    position: absolute;
    max-width: 2.8em;
    text-align: center;
    transform: scale(0.8);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.vxe-table {
  &.size--medium {
    .vxe-renderer--progress-ring {
      width: $vxe-table-row-height-medium - 2;
      height: $vxe-table-row-height-medium - 2;
    }
  }
  &.size--small {
    .vxe-renderer--progress-ring {
      width: $vxe-table-row-height-small - 2;
      height: $vxe-table-row-height-small - 2;
    }
  }
  &.size--mini {
    .vxe-renderer--progress-ring {
      width: $vxe-table-row-height-mini - 2;
      height: $vxe-table-row-height-mini - 2;
    }
  }
}
